.backdoor
{
  background-color: blue;
  position:relative;
  width:200px;
  height:300px;
  margin: 20px;
  border: 10px solid lightgray;
}

.door
{
  background-color: brown;
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:300px;
 
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.8s ease-in-out;
}

.backdoor:hover .door {
  -webkit-transform: perspective(900) rotateY(90deg);
  transition: all 1s ease-in-out;
}

.door span {
  position:  absolute;
  width: 20px;height: 20px;
  border-radius:50%;
  display:block;
  background-color: lightgray;
  top:100px;
  left:160px
}

.trapezoid {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}