.backdoor
{
  background-color: blue;
  position:relative;
  width:300px;      //width of the .backdoor = .door
  height:400px;     //height of the .backdoor = .door
  margin: 30px 50px;  // this sets the black background width
  border: 10px solid lightgray;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  box-shadow: 0 0 25px 15px #a3cfe7;
}

.backdoor > p {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.backdoor > a {
  text-align: center;
}

.door
{
  position:absolute;
  top:0px;
  left:0px;
  width:300px;      //width of the .door = .backdoor
  height:400px;     //height of the .door = .backdoor 
 
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 1.1s ease-in-out;

  border: black solid 1px;
}

.backdoor:hover .door {
  -webkit-transform: perspective(900) rotateY(90deg);
  transition: all 1s ease-in-out;
}

.blue-team {
  background-color: blue;
  // box-shadow: 0 0 50px 15px #48abe0;
}

.red-team {
  background-color: red;
}

.purple-team {
  background-color: purple;
}

.door span {
  position:  absolute;
  width: 30px;
  height: 30px;
  border-radius:50%;
  display:block;
  background-color: lightgray;
  top:170px;
  left:250px;
  border: solid 2px black;
}

.trapezoid {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}

.cyber-card {
  background-color: rgba(19, 20, 21, 0.96);
  margin: 20px;
  border-radius: 5px;
  //padding: 15px 10px 50px 10px; /*black background*/
}

.cyber-tool-used {
  margin: 25px 15px;
  border: solid 1px #ccc;
  padding: 15px;
  // margin: 55px -50px 55px 30px;
  border: solid 3px #ccc;
}

.cyber-tool-used > h5 {
  color: #ccc;
  background-color: rgba(19, 20, 21, 0.96);
  position: relative;
  top: -30px;
  padding: 0 10px;
  margin: 0 120px 0 5px;
  border: solid 1px #ccc;
}

.cyber-tool-used > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cyber-tool-used > div > button {
  font-size: 20px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #e1e1e0;
  border: solid 3px rgba(171, 183, 183, 1);
  border-radius: 5px;
}