.logout {
  margin: auto;
  border: 10px solid lightgray;
  position: relative;
  width: 200px;
  height: 220px;
  cursor: pointer;
}
.logout .doorway {
  position: relative;
  width: 200px;
  height: 220px;
  background-color: red;
}
.logout .doorway .door {
  transition: transform 0.1s;
  transform-style: preserve-3d;
  transform-origin: 0% 0%;
  width: 100%;
  height: 100%;
  -webkit-transform: perspective(900) rotateY(0deg);
  background-color: blue;
 position: absolute;
}

.logout:hover .door {
  -webkit-transform: perspective(900) rotateY(90deg);
  transition: all 0.5s ease-in-out;
}
.door span {
  position:  absolute;
  width: 20px;height: 20px;
  border-radius:50%;
  display:block;
  background-color: lightgray;
  top:100px;
  left:160px
}