.backdoor
{
  background-color: blue;
  position:relative;
  width:200px;
  height:300px;
  margin: 30px;
  border: 10px solid lightgray;
}

.door
{
  background-color: brown;
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:300px;
 
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.8s ease-in-out;
}

.backdoor:hover .door {
  -webkit-transform: perspective(900) rotateY(90deg);
  transition: all 1s ease-in-out;
}

.door span {
  position:  absolute;
  width: 20px;height: 20px;
  border-radius:50%;
  display:block;
  background-color: lightgray;
  top:100px;
  left:160px
}

.trapezoid {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}

.cyber-card {
  background-color: rgba(19, 20, 21, 0.96);
}

.cyber-tool-used {
  margin: 25px 15px;
  border: solid 1px #ccc;
  padding: 15px;
  // margin: 55px -50px 55px 30px;
  border: solid 3px #ccc;
}

.cyber-tool-used > h5 {
  color: #ccc;
  background-color: rgba(19, 20, 21, 0.96);
  position: relative;
  top: -30px;
  padding: 0 10px;
  margin: 0 120px 0 5px;
  border: solid 1px #ccc;
}

.cyber-tool-used > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cyber-tool-used > div > button {
  font-size: 20px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #e1e1e0;
  border: solid 3px rgba(171, 183, 183, 1);
  border-radius: 5px;
}