/* 
=============================================================================
=============================================================================
HTML5 CSS Reset Minified - Eric Meyer
============================================================================= 
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
li {
  list-style: none;
}
/* 
=============================================================================
END OF HTML5 CSS Reset Minified - Eric Meyer
=============================================================================
============================================================================= 
*/

/* 
=============================================================================
=============================================================================
START OF CSS
============================================================================= 
*/

/* -------------------------------------- */
/* --- START OF base -------------------- */

html,
body {
  width: 100%;
  height: 100%;
  background: #111;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  /* display: block; */
  vertical-align: bottom;
}
/* ---------------------- END OF base --- */
/* -------------------------------------- */

/**********************************************************/
/**********************************************************/
/*******    START OF MOBILE VIEW (DEFAULT 1-400px)   ******/
/**********************************************************/

/* ------------------------------------------- */
/* --- START OF header-logo ------------------ */

.header-logo {
  position: fixed;
  /* color: #fff; */
}

/* -------------------- END OF header-logo --- */
/* ------------------------------------------- */

/* -------------------------------------- */
/* --- START OF Navbar ------------------ */

nav a {
  position: fixed;
  left: -80px;
  transition: 0.4s;
  padding: 20px;
  width: 100px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  /* border: solid white 2px; */
  /* border-radius: 0 5px 5px 0; */
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

nav a:hover {
  left: 0;
}

li a {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

li a i {
  display: flex;
  flex-direction: column;
  align-self: center;
}

nav a i {
  padding-left: 45px;
}

nav a span {
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  text-transform: uppercase;
}

.profile {
  top: 70px;
  background-color: #04aa6d;
  /* border: solid #04aa6d 5px; */
}

.it-experience {
  top: 187px;
  background-color: #c4b921;
}

.technical-skills {
  top: 343px;
  background-color: #f44336;
}

.projects {
  top: 444px;
  background-color: #2196f3;
}

/* -------------------- END OF Navbar --- */
/* -------------------------------------- */

/* -------------------------------------------------- */
/* --- START OF particles-js ------------------------ */
/* header {
  position: relative;
} */
/* nav {
  position: fixed;
  opacity: 0;
} */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #062397;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  /* background-position: center; */
  background-repeat: no-repeat;
  position: fixed; /*for the background of particles*/
}

#particles-js > h1 {
  position: absolute;
  top: 50%; /*to center the h1 typewriter*/
  width: 100%;
  text-align: center;
  padding-left: 20px;
  font-size: 18px;
}

.typewrite {
  color: #fff;
  text-decoration: none;
  font-size: x-large;
}

.profile-container {
  max-width: 100%;
  margin: 0 auto;
  background: #04aa6d;
  font-size: 24px;
  padding: 25px;
  position: absolute; /*use to hide particle background when scroll up*/
  top: 800px; /*partner of position: relative to move container down. can also use down, left, right*/
  left: 60px;
  /* right: 20px; */
}

.parallax {
  background: url("../img/background.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;
}
/* -------------------------- END OF particles-js --- */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* --- START OF footer ------------------------------ */

footer {
  position: fixed;
  top: 580px;
  color: #fff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.footer-container > i {
  padding: 3px 3px;
}

/* -------------------------------- END OF footer --- */
/* -------------------------------------------------- */

/**********************************************************/
/********    END OF MOBILE VIEW (DEFAULT 1-400px)    ******/
/**********************************************************/
/**********************************************************/

/**********************************************************/
/**********************************************************/
/*********    START OF TABLET VIEW (401-768px)   **********/
/**********************************************************/
@media all and (min-width: 25.0625rem) {
}
/**********************************************************/
/**********    END OF TABLET VIEW (401-768px)    **********/
/**********************************************************/
/**********************************************************/

/**********************************************************/
/**********************************************************/
/*******    START OF DESKTOP VIEW (769-1140px)   **********/
/**********************************************************/
@media all and (min-width: 48.0625rem) {
  /* .nav-link {
    margin: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: large;
  } */
  /* #particles-js > h1 {
    display: block;
    text-align: center;
    font-size: 100px;
    position: absolute;
    margin-top: 300px;
    margin-left: 50px;
  } */
}
/**********************************************************/
/**********    END OF DESKTOP VIEW (769-1140px)    ********/
/**********************************************************/
/**********************************************************/

/* 
=============================================================================
END OF CSS
============================================================================= 
=============================================================================
*/
