/* 
=============================================================================
=============================================================================
HTML5 CSS Reset Minified - Eric Meyer
============================================================================= 
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
li {
  list-style: none;
}
/* 
=============================================================================
END OF HTML5 CSS Reset Minified - Eric Meyer
=============================================================================
============================================================================= 
*/

/* 
=============================================================================
=============================================================================
START OF CSS
============================================================================= 
*/

/* -------------------------------------- */
/* --- START OF base -------------------- */

html,
body {
  width: 100%;
  height: 100%;
  background: #111;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  /* vertical-align: bottom; */
}
/* ---------------------- END OF base --- */
/* -------------------------------------- */

/**********************************************************/
/**********************************************************/
/*******    START OF MOBILE VIEW (DEFAULT 1-400px)   ******/
/**********************************************************/

/* -------------------------------------- */
/* --- START OF Navbar ------------------ */
/* .header-logo > img {
  width: 15%;
} */

/* -------------------- END OF Navbar --- */
/* -------------------------------------- */

/* -------------------------------------------------- */
/* --- START OF particles.js container -------------- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* ---------------- END OF particles.js container --- */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* --- START OF typewriter -------------------------- */
#particles-js > h1 {
  display: block;
  text-align: center;
  font-size: 100px;
  position: absolute;
  margin-top: 300px;
  margin-left: 50px;
}

.typewrite {
  color: #fff;
  text-decoration: none;
}
/* -------------------------- START OF typewriter --- */
/* -------------------------------------------------- */

/**********************************************************/
/********    END OF MOBILE VIEW (DEFAULT 1-400px)    ******/
/**********************************************************/
/**********************************************************/

/**********************************************************/
/**********************************************************/
/*********    START OF TABLET VIEW (401-768px)   **********/
/**********************************************************/
@media only screen and (min-width: 25.0625rem) {
}
/**********************************************************/
/**********    END OF TABLET VIEW (401-768px)    **********/
/**********************************************************/
/**********************************************************/

/**********************************************************/
/**********************************************************/
/*******    START OF DESKTOP VIEW (769-1140px)   **********/
/**********************************************************/
@media only screen and (min-width: 48.0625rem) {
  header nav {
    /*we want to see the nav by default, so make sure it's shown*/
    max-height: 100%;
    /*since mobile view used absolute and relative position for nav, use position: static on this breakpoint to positioned according to the normal flow of the page*/
    position: static;
    padding-left: 50px;
  }
}
/**********************************************************/
/**********    END OF DESKTOP VIEW (769-1140px)    ********/
/**********************************************************/
/**********************************************************/

/* 
=============================================================================
END OF CSS
============================================================================= 
=============================================================================
*/
