html, body{
    background-color: #e0e0e0;
    margin: 20px 0;

}

main{
    margin: 0 400px; /*centers the web page */
    /* width: 960px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.login {
    border: 1px #000 solid;
    background-color: azure;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-style: italic;
    font-size: 50px;
}

.login p:first-of-type{
    border-top: thick #000 solid;
    padding: 0 170px;
    position: relative;
}


/* border is supposed to be just position relative and absolute???? */
.border::after{
    color: red;
    position: absolute;
    z-index: -1;
}


.border {
    border-top: solid 10px #000;
    padding: 100px 0 0 0;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    padding: 30px;
}
form input,
form button {
    margin: 5px;
    padding: 10px 100px;
}

form button {
    background-color:lightblue
}
.sign-up {
    border: 1px #000 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    margin: 20px 0;
    padding: 10px;
}

.get-app {
    display: flex;
    flex-direction: column;
    align-items: center;
}


img {
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer div ul {
    padding-top: 50px;
    margin: 0 120px;
    list-style: none;
    display:  flex;
    justify-content: space-evenly;
}

footer .end {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

footer .end p {
    margin: 0 20px
}