body {
  background-color: white;
}

.container {
  margin: 0 auto; /*centers the web page */
  width: 960px;
  font-size: 100%;
  line-height: 1.5;
  background-color: #f9f9f9;
  font-family: "Fjalla One", sans-serif;
}

/*This is header*/
.beaten {
  padding: 0px 5px;
  color: #861919;
}

.header {
  border-bottom: 1px solid #cdcdcd;
  display: flex;
}

.logo {
  margin: 10px;
  margin-top: 30px;
}

ul {
  display: flex;
}

header ul {
  margin-top: 20px;
  margin-left: 510px;
}

header li {
  margin: 15px;
}

.header h2 {
  margin-top: 35px;
  font-size: 25px;
  display: flex;
}

.search {
  margin: 15px;
  margin-top: 30px;
}

.search:hover {
  cursor: pointer;
}

nav ul li a:hover {
  border-bottom: 1px solid black;
}

header a {
  text-decoration: none;
  color: #3c3d40;
}

.home {
  margin: 15px 0px 5px 10px;
  font-family: Arial;
  font-size: 15px;
}

/*This is the main*/

.adventure {
  background-image: url(../img/banner_background.jpg);
  padding: 180px 490px 32px 30px;
}

h1,
.adventure > p {
  background-color: #f9f9f9;
  padding-left: 23px;
  padding-right: 62px;
}

h1 {
  padding-top: 20px;
  font-size: 48px;
}

.adventure > p {
  padding-bottom: 20px;
}

h3 {
  font-size: 35px;
  margin: 60px 311px 0px 10px;
  border-bottom: 12px solid #861919;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}

h4 {
  margin-top: 255px;
  margin-right: 300px;
  padding-top: 5px;
  padding-left: 10px;
  background-color: #f9f9f9;
  font-size: 25px;
}

.hiking,
.camping,
.rafting,
.fishing {
  width: 460px;
  margin: 0px 10px;
  font-size: 20px;
}

.hiking {
  background-image: url(../img/hiking_trail.jpg);
}

.camping {
  background-image: url(../img/tent.jpg);
}

.rafting {
  background-image: url(../img/rafting.jpg);
}

.fishing {
  background-image: url(../img/lake.jpg);
}

.articles p {
  width: 460px;
  margin: 10px;
  margin-bottom: 35px;
}

/*This is footer*/
footer {
  background-color: #861919;
  color: #f9f9f9;
}

.connect {
  text-align: center;
}

.connect h2 {
  padding-top: 50px;
  font-size: 30px;
}

.connect li {
  margin: 20px 10px;
}

.connect ul {
  margin-left: 400px;
}

footer nav {
  border-top: 1px solid #f9f9f9;
  margin: 0px 70px;
}

footer ul {
  margin: 0px 180px;
}

footer li {
  margin: 20px 0px 40px 0px;
}

.left-line {
  padding-right: 5px;
  border-right: 1px solid #f9f9f9;
}

.line {
  padding: 0px 5px;
  border-left: 1px solid #f9f9f9;
  border-right: 1px solid #f9f9f9;
}

.right-line {
  padding-left: 5px;
  border-left: 1px solid #f9f9f9;
}
footer a {
  text-decoration: none;
  color: #f9f9f9;
}

p,
footer a {
  font-family: Arial;
  font-size: 16px;
}

/*For Shop Page*/

.shop {
  background-image: url(../img/shop/shop_background_image.jpg);
  background-repeat: no-repeat;
  padding: 81px 795px 23px 21px;
}

.shop > h1 {
  margin-bottom: 20px;
}

.breadcrumps_shop {
  display: flex;
  margin: 15px 0px 5px 10px;
  text-decoration: underline #2c3963;
}

.breadcrumps_home {
  margin: 15px 0px 5px 10px;
  text-decoration: underline #2c3963;
  color: #33353e;
  font-size: 16px;
  font-family: Arial;
}

.breadcrumps_p {
  color: 33353e;
  font-size: 16px;
  font-family: Arial;
  margin: 15px 0px 5px 10px;
}

.equipment1 {
  display: flex;
  padding: 11px;
  margin-left: 14px;
}

.backpack1 {
  height: 402px;
  width: 220px;
  background-color: white;
  background-image: url(../img/shop/backpack1.jpg);
  background-repeat: no-repeat;
  margin-right: 20px;
}
.backpack1_h2 {
  font-size: 24px;
  line-height: 36px;
  color: #33353e;
  padding-left: 10px;
  padding-top: 256px;
}

.backpack1_price {
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #861919;
  padding-left: 10px;
}

.backpack2 {
  height: 402px;
  width: 220px;
  background-color: white;
  background-image: url(../img/shop/backpack2.jpg);
  background-repeat: no-repeat;
  margin-right: 20px;
}
.backpack2_h2 {
  font-size: 24px;
  line-height: 36px;
  color: #33353e;
  padding-left: 10px;
  padding-top: 256px;
}

.backpack2_price {
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #861919;
  padding-left: 10px;
}

.backpack3 {
  height: 402px;
  width: 220px;
  background-color: white;
  background-image: url(../img/shop/backpack3.jpg);
  background-repeat: no-repeat;
  margin-right: 20px;
}
.backpack3_h2 {
  font-size: 24px;
  line-height: 36px;
  color: #33353e;
  padding-left: 10px;
  padding-top: 256px;
}

.backpack3_price {
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #861919;
  padding-left: 10px;
}

.backpack4 {
  height: 402px;
  width: 220px;
  background-color: white;
  background-image: url(../img/shop/backpack4.jpg);
  background-repeat: no-repeat;
  margin-right: 20px;
}
.backpack4_h2 {
  font-size: 24px;
  line-height: 36px;
  color: #33353e;
  padding-left: 10px;
  padding-top: 256px;
}

.backpack4_price {
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #861919;
  padding-left: 10px;
}

.equipment2 {
  display: flex;
  padding: 22px;
}

.backpack5 {
  height: 402px;
  width: 220px;
  background-color: white;
  background-image: url(../img/shop/backpack5.jpg);
  background-repeat: no-repeat;
  margin-right: 20px;
}
.backpack5_h2 {
  font-size: 24px;
  line-height: 36px;
  color: #33353e;
  padding-left: 10px;
  padding-top: 256px;
}

.backpack5_price {
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #861919;
  padding-left: 10px;
}

.backpack6 {
  height: 402px;
  width: 220px;
  background-color: white;
  background-image: url(../img/shop/backpack6.jpg);
  background-repeat: no-repeat;
  margin-right: 20px;
}
.backpack6_h2 {
  font-size: 24px;
  line-height: 36px;
  color: #33353e;
  padding-left: 10px;
  padding-top: 256px;
}

.backpack6_price {
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #861919;
  padding-left: 10px;
}

.tent7 {
  height: 402px;
  width: 220px;
  background-color: white;
  background-image: url(../img/shop/tent7.jpg);
  background-repeat: no-repeat;
  margin-right: 20px;
}
.tent7_h2 {
  font-size: 24px;
  line-height: 36px;
  color: #33353e;
  padding-left: 10px;
  padding-top: 256px;
}

.tent7_price {
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #861919;
  padding-left: 10px;
}

.tent8 {
  height: 402px;
  width: 220px;
  background-color: white;
  background-image: url(../img/shop/tent8.jpg);
  background-repeat: no-repeat;
  margin-right: 20px;
}
.tent8_h2 {
  font-size: 24px;
  line-height: 36px;
  color: #33353e;
  padding-left: 10px;
  padding-top: 256px;
}

.tent8_price {
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #861919;
  padding-left: 10px;
}

.buy {
  display: flex;
  padding: 11px;
}

.pass1 {
  height: 348px;
  width: 300px;
  background-color: white;
  background-image: url(../img/shop/pass1.png);
  background-repeat: no-repeat;
  margin-right: 20px;
}
.pass1_h2 {
  font-size: 24px;
  line-height: 36px;
  color: #33353e;
  padding-left: 10px;
  padding-top: 256px;
}

.pass1_price {
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #861919;
  padding-left: 20px;
}

.pass2 {
  height: 348px;
  width: 300px;
  background-color: white;
  background-image: url(../img/shop/pass2.png);
  background-repeat: no-repeat;
  margin-right: 20px;
}
.pass2_h2 {
  font-size: 24px;
  line-height: 36px;
  color: #33353e;
  padding-left: 10px;
  padding-top: 256px;
}

.pass2_price {
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #861919;
  padding-left: 10px;
}

.pass3 {
  height: 348px;
  width: 300px;
  background-color: white;
  background-image: url(../img/shop/pass3.png);
  background-repeat: no-repeat;
  margin-right: 20px;
}

.pass3_h2 {
  font-size: 24px;
  line-height: 36px;
  color: #33353e;
  padding-left: 10px;
  padding-top: 256px;
}

.pass3_price {
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #861919;
  padding-left: 10px;
}

/*For Checkout Page*/

.breadcrumps_checkout {
  display: flex;
}

.breadcrumps_home {
  margin: 15px 0px 5px 10px;
  text-decoration: underline #3c3d40;
  color: #33353e;
  font-size: 16px;
  font-family: Arial;
}

.breadcrumps_home {
  margin: 15px 0px 5px 10px;
  text-decoration: underline #3c3d40;
  color: #33353e;
  font-size: 16px;
  font-family: Arial;
}

.breadcrumps_p {
  color: 33353e;
  font-size: 16px;
  font-family: Arial;
  margin: 15px 0px 5px 10px;
}

.breadcrumbs-checkout {
  display: flex;
  padding: 19px 0 0 11px;
}

.breadcrumbs-p-checkout {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #33353e;
}

*/ .home-link-checkout {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #33353e;
  text-decoration: underline;
  margin-right: 5px;
}

.checkout-slash {
  margin-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.shop-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #33353e;
  text-decoration: underline;
  margin-right: 5px;
}

.payment-h1 {
  font-size: 48px;
  line-height: 72px;
  color: #3c3d40;
  text-transform: uppercase;
  padding-left: 13px;
}

.progress-bar-banner {
  display: flex;
  background-color: white;
  margin: 39px 10px 0 10px;
}

.border-step-one {
  border: 3px #6d7444 solid;
  width: 470px;
  display: flex;
}

.step-one-text {
  font-size: 16px;
  color: #3c3d40;
  text-align: center;
  margin: 11px 11px 8px 135px;
  text-transform: uppercase;
}

.check-logo {
  padding: 10px 0 10px 0;
}

.step-two-text {
  font-size: 16px;
  color: #3c3d40;
  margin: 11px 11px 8px 180px;
  text-transform: uppercase;
}

.checkout-form {
  background-color: white;
  width: 620px;
  margin: 23px 0 0 10px;
}

.checkout-items {
  padding-bottom: 48px;
  display: flex;
}

.info-h2 {
  font-size: 36px;
  line-height: 54px;
  padding: 37px 0 0 11px;
  color: #33353e;
}

.info-p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #33353e;
  line-height: 24px;
  padding: 0 0 32px 10px;
}
.form-field label {
  display: block;
  margin-left: 11px;
  font-size: 14px;
  line-height: 21px;
  font-family: Arial, Helvetica, sans-serif;
  color: #8f8f8f;
}
.form-field label span {
  font-weight: bold;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-field input {
  border: solid 1px #cdcdcd;
  background-color: #f9f9f9;
  height: 36px;
  border-radius: 3px;
}
.form-field [for="address"] {
  margin-top: 30px;
}
.form-field {
  display: inline-block;
}
.form-field [type="text"] {
  width: 290px;
  margin-left: 10px;
  text-indent: 10px;
}

.form-field [type="street-address"],
.form-field [type="address-city"],
.form-field [type="phone"] {
  width: 450px;
  margin-left: 10px;
  text-indent: 10px;
}

.form-field [type="address-other"],
.form-field [type="address-province"],
.form-field [type="address-pc"] {
  width: 128px;
  margin-left: 10px;
  text-indent: 10px;
}
.form-field [type="submit"] {
  width: 300px;
  background-color: #861919;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  margin: 0 0 48px 160px;
  cursor: pointer;
}
.form-field [type="phone"],
.form-field [type="address-pc"] {
  margin-bottom: 48px;
}

.order {
  width: 300px;
  background-color: white;
  margin: 23px 0 146px 20px;
}

.order-h2 {
  font-size: 36px;
  padding: 37px 0 0 14px;
}

.order-description {
  display: flex;
}

.product-img {
  padding: 47px 0 0 31px;
}
.order-p {
  font-size: 16px;
  line-height: 24px;
  color: #33353e;
  padding-top: 38px;
  padding: 38px 17px 0 0;
}

.price {
  color: #861919;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 16px;
  line-height: 24px;
  padding-right: 11px;
}

.gray-bar {
  background-color: #cdcdcd;
  height: 2px;
  margin: 15px 10px 0 10px;
}

.sub-bar,
.ship-bar {
  display: flex;
}

.sub-text {
  margin: 19px 0 0 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.subtotal {
  margin: 18px 0 0 164px;
  font-family: Arial, Helvetica, sans-serif;
}

.ship-text {
  margin: 23px 0 0 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.shipping {
  margin: 23px 0 0 168px;
  font-family: Arial, Helvetica, sans-serif;
}

.total-bar {
  display: flex;
  background-color: #cdcdcd;
  margin: 13px 10px 48px 10px;
}

.total-text {
  padding: 13px 0 13px 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.total {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 13px 0 0 134px;
}
